body { background-color: white; }
html {
    font-family: 'Ubuntu', sans-serif;
  }

.navbar-fixed {
  position: absolute;
  z-index: 999999999;
}

.amber-border {
  background-color: #ffab00;
  padding: 5px;
}

.dev-border {
  background-color: #e53935;
  padding: 10px;
}

.wri-border {
  background-color: #00b0ff;
  padding: 10px;
}

.edu-border {
  background-color: #6a1b9a;
  padding: 5px;
}

.section-spacing {
  margin-bottom: 70px;
  margin-top: 70px;
}
